/* 
************************************************************
                      Scroll Up Button
************************************************************ */
.scrollUp {
    border-radius: 100%;
    position: fixed;
    top: 90%;
    right: 2%;
    z-index: 1;
    transition: rgb(163, 78, 78) 0.15s ease, opacity 0.15s ease, transform 0.2s ease, color 0.2s ease;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(54 54 54 / 15%);
    font-size: 20px;
    padding: 0;
    /* display: none; */
  }
  @keyframes buttonFromBottomToTop {
    25%{
        transform: translate(0px, -50px);
    }
    50%{
        transform: translate(50px,0px);
    }
    75%{
        transform: translate(0, 50px);
    }
    100%{
        transform: translate(0px,0px);
    }
    } 
  .scrollUp i {
    padding: 12px 14px!important;
  
  }.scrollUp:hover {
    transform: scale(1.1);
  
  }.scrollUp i:hover {
    animation: buttonFromBottomToTop 0.5s ease forwards;
  }


/* 
                      Media Query
************************************************************ */
@media (max-width:768px ) {
  .scrollUp {
    display: none;
  }
}


  /* 
************************************************************
                      Next Css Pending...
************************************************************ */